.checkoutProduct {
  display: flex;
  margin: 20px 0px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__info > button {
  margin-top: 10px;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

.checkoutProduct__rating {
  display: flex;
}
